<html>
    <head>
        <title>Notitication Alert - PoC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
        <script   src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="notify.min.js"></script>
        <script>

var app = angular.module('myApp', []);

app.controller('myCtrl', ['$scope', 'notificationAlertService', 'notificationService', function($scope, notificationAlertService, notificationService) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
    var notificationsList = [],
        currentWidth = document.documentElement.clientWidth,
        widthThreshold = 900;

    function init(){
        notificationsList = notificationService.getNotifications();

        showNotifications();

        window.addEventListener('resize', function(event){
            var width = document.documentElement.clientWidth;

            if(!isCurrentWidthLimit(width)){
                currentWidth = width;
                rearrangeNotifications();
            }
            currentWidth = width;
        });
    }

    function isCurrentWidthLimit(newWidth){
        return (currentWidth <= widthThreshold && newWidth <= widthThreshold)
                || (currentWidth > widthThreshold && newWidth > widthThreshold); 
    }

    function notifyCenter(){
        notificationAlertService.notify({position:'top center'});
    }
    function notifyLeft(){
        notificationAlertService.notify({position:'bottom left'});
    }

    function showNotifications(){
        var shouldCentralize = shouldCentralizeNotifications();
        notificationsList.forEach(function(notification){
            notification.forceCentralizedAlignment = shouldCentralize;
            notificationAlertService.notify(notification);
        });
    }

    function clearNotifications(){
        notificationAlertService.clearNotifications();
    }

    function rearrangeNotifications(){
        clearNotifications();
        showNotifications();
    }

    function shouldCentralizeNotifications(){
        return currentWidth <= widthThreshold;
    }

    $scope.notifyCenter = notifyCenter;
    $scope.notifyLeft = notifyLeft;       

    init();
    
}]);

app.factory('notificationService', function(){
    var notificationsList = [
        {
            id:'1',
            title: 'notification 1',
            type: 'non-critical'
        },
        {
            id:'2',
            title: 'notification 2',
            type: 'non-critical' 
        },
        {
            id:'3',
            title: 'notification 3',
            type: 'critical' 
        },
        {
            id:'4',
            title: 'notification 4',
            type: 'critical' 
        }
    ];
    function getNotifications(){
        return notificationsList;
    };

    return {
        getNotifications: getNotifications
    }
});

app.factory('notificationAlertService', ['$window', function($window){

    var positions = {
        "critical": 'top center',
        "non-critical": 'bottom left'    
    }
    
    $.notify.addStyle('custom-notification', {
        html: 
            '<div><a href="#" data-object-id=""><div class="notification-alert non-critical">'+
                '<div class="notification-alert image">'+
                    'image'+
                '</div>'+
                '<div>'+
                    '<div class="notification-alert text" data-notify-html="title">Notification Text</div>'+
                    '<div data-notify-html="createdTimeText"></div>'+
                '</div>'+
            '</div></a></div>'
    });

    function showNotification(notification, options){

        $.notify({
            title: notification.title,
            createdTimeText: '4 hours ago'
        }, { 
            style: 'custom-notification',
            autoHide: false,
            clickToHide: true,
            position: options.position,
            // show animation
            showAnimation: 'slideDown',
            // show animation duration
            showDuration: 400,
            // hide animation
            hideAnimation: 'slideUp',
            // hide animation duration
            hideDuration: 200,
            // whether to auto-hide the notification
            //autoHide: true,
            // if autoHide, hide after milliseconds
            autoHideDelay: 5000,

            className: 'goya clearfix'
        });

        if(options.position && options.position.includes('center')){
            var notifyJsCorner = $('.notifyjs-corner').filter(function() {
                return this.style.left === '45%';
            });
            notifyJsCorner
                .css('left','50%')
                .css('margin-left','-150px');
        }
        
    }

    function getPosition(type){
        return positions[type];
    }

    function notify(notification){
        var maxSimultaneousNotifications = 6;
        if($('.notifyjs-wrapper').length < maxSimultaneousNotifications){
            var options,
                position = getPosition(notification.type);

            if(notification.forceCentralizedAlignment && !position.includes('center')){
                var criticalPosition = getPosition('critical');
                position = criticalPosition.split(' ')[0] + ' center' 
            }

            options = {position: position};
            showNotification(notification, options);
        }
    };

    function clearNotifications(){
        $('.notifyjs-corner').html('');
    }

    return {
        notify: notify,
        clearNotifications: clearNotifications
    };
}]);

        </script>
        <style>
            .notification-alert.non-critical{
                    width: 300px;
                    height: 66px;
                    border: 1px solid black;
                    position: relative;
                    padding: 10px;
                    
            }
            .notification-alert.image{
                    width: 45px;
                    height: 45px;
                    margin-right: 10px;
                    float: left;
                    border: 1px solid;
            }
            .notification-alert.text{
                
            }
            .test-button{
                margin: 10px
            }
            .notifyjs-corner{
                /*transform: translate(-50%);
                left: 50% !important;*/
            }

            .notifyjs-non-critical-goya{
                /*margin-left: -120px;*/
            }
        </style>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <button class="test-button" ng-click="notifyCenter()">notify</button>
            <button class="test-button" ng-click="notifyLeft()">notify</button>
            <div class="notification-alert non-critical">
                <div class="notification-alert image">
                    image
                </div>
                <div>
                    <div class="notification-alert text">Notification Text</div>
                    <div>3 minutes ago</div>
                </div>
            </div>
        </div>
    </body>
</html>