<html>
    <head>
        <title>Notitication Alert - PoC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
        <script src="notify.min.js"></script>
        <link rel="stylesheet" href="main.css">
        <script src="main.js"></script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            <button class="test-button" ng-click="notifyCenter()">critical</button>
            <button class="test-button" ng-click="notifyLeft()">non critical</button>
            <div class="notification-alert non-critical">
                <div class="notification-alert image">
                    image
                </div>
                <div>
                    <div class="notification-alert text">Notification Text</div>
                    <div>3 minutes ago</div>
                </div>
            </div>
            <!--<div class="notification-modal-mask" data-ng-show="isModalNotificationVisible"></div>-->
            <div class="notification-modal-mask" style="display: none"></div>
        </div>
    </body>
</html>